/* YOUR CUSTOM STYLES */

<style>
    /* TEMPLATE STYLES */
    .navbar .btn-group .dropdown-menu a:hover {
        color: #000 !important;
    }

    .navbar .btn-group .dropdown-menu a:active {
        color: #fff !important;
    }

    .navbar{
      background-color: #2BBBAD;
    }


    .card1{
      height:1000px;

    }

    .col2{
      background-color: #cfd8dc;
    }
</style>
